/* === Hello World === */

body, html, button {
    padding: 0;
    margin: 0;
    border: 0;
  }

  main {
    max-width: 960px;
    margin: 0 auto;
  }

  :root {
    --color-btnOlaMundo: darkgreen;
  }

  .anuncio {
    width: 470px;
    height: 210px;
    padding: 60px 30px;
    border: 4px double #000;
    margin: 52px auto 40px;
    text-align: center;
    background-color: lightblue;
  }

  .anuncio h1 {
    margin: 40px 0;       
  }

  .anuncio p {
    font-size: 18px;
    line-height: 28px;
    color: #00f;
    text-shadow: 1px 1px 1px #fff;
  }

  .olaMundo {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #222;
    outline: none;
    background-color: var(--color-btnOlaMundo);
    color: #fff;
  }

  .olaMundo:hover {
    background-color: #41F945;
    border-color: var(--color-btnOlaMundo);
    cursor: pointer;
    transition: background-color 1s;
    color: #000;
  }

  .olaMundo:active {
    position: relative;
    top: 2px;
  }

  footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    position: fixed;
    bottom: -10px;
  }

  footer small {
    word-spacing: 0.2em;
    color: #333;
  }

  /* === Ocultando Conteúdo === */
  .hide {
    display: none;
  }
